$main-font: "Exo 2", sans-serif;
$font-title: "Alfa Slab One", cursive;
$text-color: #fff;
$text-color-dark: #000;
$main-color-light: #ff9640;
$additional-color-light: #3cc;
$box-shadow--hover: 0 0 30px 0 #fff;
$box-shadow: 0 0 10px 0 #fff;
$tablet-width: "max-width: 1200px";
$mobile-width: "max-width: 810px";
$mobile-min-width: "max-width: 400px";
